body{
    overflow-x: hidden;
    margin: 0;
}
#box{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    background-image: url(images/image1.png);
}
.box2{
    background-image: url(images/image2.png);
}
.box3{
    background-image: url(images/image3.png);
}
.box4{
    background-image: url(images/image1.png);
}
#content{
    width: max-content;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 8px;
    font-family: "Lato", sans-serif;
    font-size:small;
    padding: 0px 20px 0px 20px;
}
.content1{
    background-color: #313534;
    color: white;
}
.content2{
    background-color: #666;
    color: white;
}
.content3{
    background-color: #313534;
    color: white;
}
.content4{
    background-color: rgb(54, 53, 53);
    color: white;
}
#section{
    height:min-content;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 50px 35px 50px;
    text-align: center;
}
.section1{
    background-color: #f4f4f4;
    color: #666;
}
.section2{
    background-color: #282e34;
    color: white;
}
.section3{
    background-color: rgb(73, 74, 75);
    color: white;
}
@media(max-width:450px){
    #content{
        padding: 0 10px;
        width: 250px;
        text-align: center;
        height: 90px;
    }
}